<div style="max-width: 900px;margin: auto;font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif">
        <!-- Header -->
        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <td width="25%" style="">
                                <img src="https://media.licdn.com/dms/image/C4D0BAQE6oogIdcWViw/company-logo_200_200/0?e=2159024400&v=beta&t=ee2DuUCEsNddc750rA3TusEN0iyI5i6m8QykG-5qffs" style="width:190px; max-width:300px;">
                            </td>
                            <td width="75%" style="padding-top: 18px; padding-right:30px; text-align: right;">
                                <span style="font-size:18px; font-weight:bold; color:#555555;">SOLICITUD DE PERMISOS</span><br>
                                <span style="font-weight:bold; color:#555555;">Codigo:</span> <span>FOR-3.20-057</span><br>
                                <span style="font-weight:bold; color:#555555;">Versión:</span> <span> 1.0</span><br>
                                <span style="font-weight:bold; color:#555555;">Fecha Actual:</span> <span> 2019/05/28</span><br>
                                <span style="font-weight:bold; color:#555555;">Fecha de Vigencia:</span><span> 2022-01-01</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--  title -->
        <div class="title-form">
          <h4>DATOS GENERALES</h4>
          <hr width="50px">
        </div>
        <!-- formulario datos personales -->
        <div class="background-datos" style="padding-top:20px; text-align: center;">
            <table width="98%">
                <tr style="text-align: left;">
                    <!-- TITULOS -->
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="font-weight:bold; color:#555555;">Nombres:</span><br>
                        <span style="font-weight:bold; color:#555555;">Apellidos:</span><br>
                        <span style="font-weight:bold; color:#555555;">Num. Documento:</span><br>
                    </td>
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="color:#555555;">Lorena</span><br>
                        <span style="color:#555555;">Hernandez</span><br>
                        <span style="color:#555555;">C.C.1.004.569.789</span><br>
                    </td>
                    <!-- DESCRIPCION -->
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="font-weight:bold; color:#555555;">cargo / Rol:</span><br>
                        <span style="font-weight:bold; color:#555555;">Unidad de Negocio:</span><br>
                        <span style="font-weight:bold; color:#555555;">Telefono / Ext:</span><br>
                    </td>
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="color:#555555;">Ingeniero:</span><br>
                        <span style="color:#555555;">Tv. 73d #62 Sur, Bogotá</span><br>
                        <span style="color:#555555;">4567896</span><br>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Tipo de permiso -->
        <div style="border:2px solid #f2f2f2; padding:15px;">
            <div class="title-form">
          <h4>TIPO DE PERMISO</h4>
          <hr width="50px">
        </div>
        <!-- formulario datos personales -->
        <div style="padding-top:20px;">
            <table width="98%">
                <tr style="text-align: center;">
                    <!-- TITULOS -->
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <label class="container">Licencia
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                    </td>
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <label class="container">Permiso
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label> 
                    </td>
                    <!-- DESCRIPCION -->
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <label class="container">Trabajo fuera de planta
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                    </td>
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <label class="container">Otro
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <!-- MOTIVO DE PERMISO -->
        <div class="title-form">
          <h4>MOTIVO DE PERMISO</h4>
          <hr width="50px">
          <textarea name="" id="" cols="120" rows="10" placeholder="Escriba Aqui..."></textarea>
        </div>
        <br>
        <!-- DURACION DE PERMISO -->
        <div style="border:2px solid #f2f2f2; padding:15px;">
            <div class="title-form">
          <h4>DURACIÓN DE PERMISO</h4>
          <hr width="50px">
        </div>
         <div class="background-datos" style=" text-align: center;">
            <table width="98%">
                <tr style="text-align: center;">
                    <!-- TITULOS -->
                    <td width="49%" style="padding: 10px;margin: 10px;">
                        <span style="font-weight:bold; color:#555555;">Fecha y Hora en que inicia el permiso:</span><br>
                    </td>
                    <td width="49%" style="padding: 10px;margin: 10px;">
                        <span style="font-weight:bold; color:#555555;">Fecha y Hora en que finaliza el permiso:</span><br>
                    </td>
                </tr>
            </table>
        </div>

        <!-- TABLA DE DURACIÓN DE PERMISO -->
        <div style="text-align:left;">
            <table id="table" style="width: 100%;max-width: 100%;">
                <tr id="tr">
                    <th style=" font-weight: bold;" id="th" width="11,5%">Hora</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">DD</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">MM</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">AAAA</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">Hora</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">DD</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">MM</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">AAAA</th>
                    
                </tr>
                <tr id="tr">
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                </tr>
            </table>
        </div>
        <div class="background-datos" style=" text-align: center;  padding-top:90px;">
            <table width="98%">
                <tr style="text-align: center;">
                    <!-- TITULOS -->
                    <td width="49%" style="padding: 10px;margin: 10px;">
                    <hr>
                        <span style="font-weight:bold; color:#555555;">Firma del Solicitante</span><br>
                    </td>
                    <td width="49%" style="padding: 10px;margin: 10px;">
                    <hr>
                        <span style="font-weight:bold; color:#555555;">Firma del Líder</span><br>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <br>
        <div>
          <span style="color:#ff0000;">Nota:  No se tramitará ningún permiso, licencia u otro, si los datos se encuentran incompletos y sin los soportes respectivos. Esta solicitud solo es válida si es tramitada directamente con Gestión Humana</span>
        </div>
        
        <hr style="height: 3px; border: solid 1px #fff; background-color: #3F51B5;;">
        <!-- ESPACIO PARA GESTIÓN HUMANA -->
        <div style="border: 2px solid #f2f2f2; padding:20px;">
            <div class="title-form">
          <h4>ESPACIO PARA GESTIÓN HUMANA</h4>
          <hr width="50px">
        </div>
        <div style="text-align:center; padding-top:15px;">
          <span style="font-weight:bold; color:#555555;">Fecha y Hora de resivida la solicitud:</span><br>
        </div>
        <div style="text-align:left;">
            <table id="table" style="width: 100%;max-width: 100%;">
                <tr id="tr">
                    <th style=" font-weight: bold;" id="th" width="25%">Hora</th>
                    <th style=" font-weight: bold;" id="th" width="25%">DD</th>
                    <th style=" font-weight: bold;" id="th" width="25%">MM</th>
                    <th style=" font-weight: bold;" id="th" width="25%">AAAA</th>
                </tr>
                <tr id="tr">
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                </tr>
            </table>
        </div>
        <div class="background-datos" style="padding-top:20px; text-align: center;">
            <table width="98%">
                <tr style="text-align: left;">
                    <!-- TITULOS -->
                    <td width="30%" style="padding: 10px;margin: 10px;">
                        <label class="container">Remunerado
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                    </td>
                    <td width="15%" style="padding: 10px;margin: 10px;">
                        <label class="container">No Remunerado
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                    </td>
                    <td width="15%" style="padding: 10px;margin: 10px;">
                        <label class="container">Compensatorio
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <br>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <!-- TITULOS -->
                    <td width="49%" style="padding: 10px;margin: 10px;">
                        <label class="container">Fuera de planta
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                    </td>
                    <td width="49%" style="padding: 10px;margin: 10px;">
                        <label class="container">Calamidad
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <!-- OBSERVACIONES  -->
        <div class="title-form">
          <textarea name="" id="" cols="120" rows="8" placeholder="Observaciones"></textarea>
        </div>
        <!-- FIRMA  -->
        <div class="title-form">
            <img width="20%" src="https://restaurantemalahierba.com/wp-content/uploads/2018/08/firma-lester.png" alt=""><br>
            <span style="font-weight:bold;">Firma y/o sello Gestión Humana</span><br>
            <span>Lorena Hernandez</span><br>
            <span>C.C. 1012098675</span>
        </div>
        </div>

        <!-- FOOTER  -->
        <div style="padding-top: 80px; padding-bottom: 10px; text-align:center;">
            <span style="color:#555555; font-weight: bold;">Araujo Ibarra Consultora internacional S.A.S</span>
            <br>
            <span style="color:#555555;">Calle 98 No.22 64 Oficina 910. Edificio Calle 100.Bogota D.C-COLOMBIA</span><br>
            <span style="color:#555555;">PBX +57 1 651 15 11 / FAX: +57 1 623 41 60</span><br>
        </div>
        <!-- End Main Content -->
    </div>
